<div class="text-center">
    <div class="text-center m-4">
        <h4>Username: <strong>{{posts.[0].user.username}}</strong></h4>
        <h4>Posts: <strong>{{posts.length}}</strong></h4>
        <a class="btn btn-warning mt-3" href="/dashboard/edituser" role="button">Edit My Info</a>
    </div>
</div>