<div class="text-center m-3">
    <a class="btn btn-dark m-2" href="/dashboard"> &larr; Back</a>
    <h2 class="mb-4">
        Update My Info
    </h2>
    <form class="edit-user-form">
        <div class="mb-3">
            <input name="user-name" type="text" value="{{user.username}}" />
        </div>
        <div class="mb-3">
            <input name="email" value="{{user.email}}" placeholder="Email:" />
        </div>
        <div class="mb-3">
            <input type="password" name="password" placeholder="Password:" />
        </div>
        <div class="mb-3">
            <input type="hidden" id="user-id" name="user-id" value={{user.id}} />
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>

<script src="/js/edit-user.js"></script>