<form class="login-form text-center m-4 p-3">
    <h2>Login</h2>
    <div class="m-4">
        <input type="text" id="email-login" placeholder="Email:" />
    </div>
    <div class="mb-4">
        <input type="password" id="password-login" placeholder="Password:" />
    </div>
    <div>
        <button class="btn btn-primary mb-4" type="submit">Login</button><br>
        <a class="btn btn-warning" href="/signup">Sign up Page?</a>
    </div>
</form>

<script src="/js/login.js"></script>