<form class="signup-form text-center m-4 p-3">
    <h2>Signup</h2>
    <div class="m-4">
        <input type="text" id="username-signup" placeholder="Username:" />
    </div>
    <div class="mb-4">
        <input type="text" id="email-signup" placeholder="Email:" />
    </div>
    <div class="mb-4">
        <input type="password" id="password-signup" placeholder="Password:" />
    </div>
    <div>
        <button class="btn btn-primary mb-4" type="submit">Signup</button><br>
        <a class="btn btn-warning" href="/login">Login page?</a>
    </div>
</form>

<script src="/js/signup.js"></script>